// fonts
$main-font:"Open Sans", sans-serif;
$card-font:"Montserrat", sans-serif;
$title-font:"Merriweather",serif;

// colors
$orange: #e17334;
$light-khaki: #f9f4dc;
$Green: #a2deaf;
$blue: #438792;
$dark-blue: #114e4e;
