
.card-section {
    background-image: linear-gradient(#bfcdd0, #dde9ed);
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.reset {
    width: 75px;
    margin-top: 30px;
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
    border-radius: 15px;
    border: solid 1px white;
    text-align: center;
    color: #54585a;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        color: $blue;
    }

    i {
        padding-right: 8px;
    }
}

.card {
    background-color: white;
    width: 240px;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    font-family: $card-font;
    margin-top: 20px;
    padding-top: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;   

    &__text {
        border-left: solid 5px $blue;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;

        &--name {
            font-size: 18px;
            font-weight: bold;
            color: $dark-blue;
        }

        &--subtitle {
            font-size: 16px;
            font-weight: normal;
            color: #54585a;
        }
    }

    &__pic {
        max-height: 340px;
        overflow: hidden;
        img {
            width: 100%;
        }
    } 

    &__socials {
        padding-left: 20px;
        padding-bottom: 12px;
        padding-top: 10px;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        
        &--icon {
            text-align: center;
            text-decoration: none;
            display: block;
            width: 32px;
            height: 32px;
            border: solid 2px $Green;
            border-radius: 100px;
            color: $dark-blue;

            i {
                font-size: 18px;
                margin-top: 25%;
            }

            &:hover {
                color: $Green;
            }
        }
    }
}