.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (width >= 768px) {
        flex-direction: row;
        justify-content: space-between;
        
    }
}