

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desing{
    // width: 100vw;
    border: none;
    display: flex;
    flex-direction: column;


    @media (width > 768px){
        // width: 50vw;
    }

}



.text{
    color: $metal;
    font-weight: bold;
    border: none;
    padding:20px;
    font-size:15px;
    border: none;
    width: 100%;
    font-size: 15px ;
    display: flex;
    justify-content: space-between;


}


.tit{
    color: $metal;
    font-size: 15px;
    // margin-left: 30px;
    font-weight: 500;
    font-size: 18px;
 
    
}
.listas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    list-style: none;
    align-items: center;
    // margin-left: 45%;
   
}
.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    list-style: none;
    align-items: center;
  
  
    


} 
.colors{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    row-gap: 20px;

}
.paleta{
    display: grid;
    list-style: none;
    
}
.div{
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 15px;
  
    
}
.a1{
    display: flex;
    

}
.a1-1{
    
    background-color:#114e4e ;
    width:30px ;
    height: 25px;
}
.a1-2{
    width:30px ;
    height: 25px;
    background-color:#438792;
}
.a1-3{
    width:30px ;
    height: 25px;
    background-color:#a2deaf;
}
.a2{
    display: flex;

}
.a2-1{
    
    background-color:#420101;
    width:30px ;
    height: 25px;
}
.a2-2{
    width:30px ;
    height: 25px;
    background-color:#bd1010;
}
.a2-3{
    width:30px ;
    height: 25px;
    background-color:#e95626;
}
.a3{
    display: flex;

}
.a3-1{
    
    background-color:#3e5b65 ;
    width:30px ;
    height: 25px;
}
.a3-2{
    width:30px ;
    height: 25px;
    background-color:#eab052;
}
.a3-3{
    width:30px ;
    height: 25px;
    background-color:#a0c0cf;
}

.a4{
    display: flex;
    &-1{
    background-color:#753588 ;
    width:30px ;
    height: 25px;
    }

    &-2{
    background-color:#BC86CD ;
    width:30px ;
    height: 25px;
    }

    &-3{
    background-color:#8AD3BD ;
    width:30px ;
    height: 25px;
    }
}
    .a5{
    display: flex;
    &-1{
    background-color:#471579 ;
    width:30px ;
    height: 25px;
    }
    
    &-2{
    background-color:#F7AF4A ;
    width:30px ;
    height: 25px;
    }
    
    &-3{
    background-color:#000000 ;
    width:30px ;
    height: 25px;
    }
}

.a6{
    display: flex;
    &-1{
    background-color:#9A9EAB ;
    width:30px ;
    height: 25px;
    }
    
    &-2{
    background-color:#5D535E ;
    width:30px ;
    height: 25px;
    }
    
    &-3{
    background-color:#EC96A4 ;
    width:30px ;
    height: 25px;
    }
}
.a7{
        display: flex;
        &-1{
        background-color: #F4CBDB;
        width:30px ;
        height: 25px;
        }
        
        &-2{
        background-color:#F488AB;
        width:30px ;
        height: 25px;
        }
        
        &-3{
        background-color:#9473BA ;
        width:30px ;
        height: 25px;
        }

}

hr{
    border: none;
    height: 1px;
    background-color: #b9b3b3;
    margin-inline-start: 20px;
    gap: 10px;
}

.design-icon {
    color: $orange;
    padding-right: 10px;
}