

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.text{
    
    border: none;
    padding:20px;
    margin-top: 27px;
    font-size:15px;
    padding: 20px;
    border: none;
    width: 100vw;
    font-size: 15px ;


    @media (width > 768px){
        width: 50vw;
    }

}
.icon{
    color: $orange;
    padding-right: 10px;
    
    
}


.text{
  
    margin-left: 10px;
    color: $metal;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    line-height: 10px;


}
.tit{
    color: $metal;
    padding: 30px;
    font-size: 15px;
}
.listas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    list-style: none;
    align-items: center;
    align-items: start;
    margin-left: 30%;
    padding: 27px;
    
  

}
.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    list-style: none;
    align-items: center;


} 
.colors{
   display: flex;
   flex-direction: column;
    list-style: none;
    background-color: aqua;
}
.paleta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    list-style: none;
    background-color: burlywood;
    
    
    
    
}
.div{
    display: flex;
    list-style: none;
    background-color: burlywood;
    
    
}
