.fill{
    padding: 20px;
    padding-bottom: 0;
    border: none;
    // width: 100%;
    font-size: 1.8rem;

    @media (width > 768px){
        width: 100%;
    }

    &__text{
        font-weight: bold;
        color: $metal;
        padding-top: 20px;
    }
    &__inputs{
    display: flex;
    flex-direction: column;
   

    &--image{
        display: flex;
    }

    & input{
        height: 30px;
        border: $Green 1px solid;
        margin-bottom: 20px;
        margin-top: 7px;
        width: 100%;
        
        @media (width > 768px){
            width: 330px;
        }
    }

    & ::placeholder{
        padding-left: 10px;
    }
}

    &__icon{
        color: $orange;
        padding-right: 10px;
    }

    // &__icon--down{
    //     color: grey;

    // }

    & .image{
        border: none;
        display: none;

        &__preview{
            width: 30px;
            height: 30px;
            margin: 7px 0px 0 20px;
            border: solid 1px $Green;
            background-image: url("https://cdn.pixabay.com/photo/2014/09/19/21/47/chihuahua-453063_1280.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
}

}

.label_image{
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    background: $orange;
    padding: 3px 22px 7px;
    margin-bottom: 20px;
    margin-top: 7px;
    border-radius: 3px;
    width: 140px;
    height: 30px;
}
.fill__text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.email_class::after {
    content: " El email no es válido.";
    color: red;
    font-size: 1rem;
    padding-left: 10px;
}

.profile-hover{
    cursor: default;

    &:hover {
        color: black;
    }
}

