.fill{
    padding: 20px;
    border: none;
    width: 100%;
    font-size: 1.4rem;

    @media (width > 768px){
        width: 50%;
    }

    &__text{
        font-weight: bold;
        color: $metal
    }
    &__inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;

    & input{
        height: 30px;
        border: $Green 1px solid;
    }

    & ::placeholder{
        padding-left: 10px;
    }
}

    &__icon{
        color: $orange;
        padding-right: 10px;
    }

    &__icon--down{
        color: grey;

    }
    & a{
        background-color: $orange;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        width: 150px;
        padding: 3px 20px;
        text-align: center;
    }

}