<section class="card-section">
    <div class="reset"><p>RESET</p></div>
    <article class="card">
        <section class="card__text">
            <h2 class="card__text--name">Nombre Apellido</h2>
            <h3 class="card__text--subtitle">Front-end developer</h3>
        </section>
        <div class="card__pic">
            <img src="https://cdn.pixabay.com/photo/2014/09/19/21/47/chihuahua-453063_1280.jpg" alt="" />
        </div>
        <section class="card__socials">
            <div class="card__socials--icon"></div>
            <div class="card__socials--icon"></div>
            <div class="card__socials--icon"></div>
            <div class="card__socials--icon"></div>
        </section>
    </article>
</section>