<section class="card-section">
    <div class="card-boxes">
        <button class="reset js_reset" type="button" name="button"><i class="fa-regular fa-trash-can"></i> RESET</button>
        <article class="card">
            <section class="js_card_color green_text">
                <h2 class="name js_name">Nombre Apellido</h2>
                <h3 class="subtitle js_job">Front-end developer</h3>
            </section>
            <div class="card__pic js_card_pic">
            </div>
            <section class="js_socials_color green_socials">
                <a class="icon js_tel" href=""><i class="fa-solid fa-mobile-screen-button"></i></a>
                <a class="icon js_mail" href=""><i class="fa-regular fa-envelope"></i></a>
                <a class="icon js_linkedin" target="_blank" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a class="icon js_github" target="_blank" href="#"><i class="fa-brands fa-github-alt"></i></a>
            </section>
        </article>
    </div>
</section>