<section class="card-section">
    <div class="card-boxes">
        <button class="reset" type="button" name="button"><i class="fa-regular fa-trash-can"></i> RESET</button>
        <article class="card">
            <section class="card__text">
                <h2 class="card__text--name js_name">Nombre Apellido</h2>
                <h3 class="card__text--subtitle js_job">Front-end developer</h3>
            </section>
            <div class="card__pic">
                <img src="https://cdn.pixabay.com/photo/2014/09/19/21/47/chihuahua-453063_1280.jpg" alt="" />
            </div>
            <section class="card__socials">
                <a class="card__socials--icon js_tel" href="tel:"><i class="fa-solid fa-mobile-screen-button"></i></a>
                <a class="card__socials--icon js_mail" href="mailto:"><i class="fa-regular fa-envelope"></i></a>
                <a class="card__socials--icon js_linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a class="card__socials--icon js_github" href="#"><i class="fa-brands fa-github-alt"></i></a>
            </section>
        </article>
    </div>
</section>