<body>
    <fieldset class="cont">
        <legend class="cabecera"><h1></h1>Diseña</legend>
        <div class="btn">
            <button class="btn-menu">^</button>
        </div>

        <label for="colores" id="Colores">Colores</label>
            <input
              class="input"
              type="radio"
              
              required
              />
              <img src="#" alt="paleta1">
              <label for="colores">
                <input
              class="input"
              type="radio"
              
              required
              
              /><img src="#" alt="pleta2">
            </label>

              <label for="colores"></label>
            <input
              class="input"
              type="radio"
             
              required
              />
              <img src="#" alt="paleta3">
     </fieldset>               

</body>   
    
    
    
    


    
    

    


