<fieldset class="comparte">
    <legend class="share"> <i class="fa-duotone fa-share-nodes"></i>COMPARTE<i class="fa-solid fa-chevron-down fill__icon--down"></i></legend>
    <div class="tarjet">
        <section class="enlace1">
            <a  class="enl"   href="#">  CREAR TARJETA</a>
        </section>

    </div>
 <div class="crear">
    <p>La tarjeta ha sido creada :</p>
    <a href="https://awesome-profile-card.com?id=A456DF0001">"https://awesome-profile-card.com?id=A456DF0001</a>
  </div>  
    <button class="enlace">
        <a href="https://twitter.com/?lang=es">Compartir en twiter</a>
    </button>
    
</fieldset>