
    <section>
      <legend class="desing__text"> <i class="fa-solid fa-keyboard desing__icon"></i> DISEÑA<button class="btn">^</button> <i class="fa-solid fa-chevron-down desing__icon--down"></i></legend>

      <div class="desing__inputs">
          <legend class="desing__tit">COLORES</legend>
    
      <ul class="desing__colors">
        <div>
          <li><label for="colores"></label>
        <input type="checkbox" id="colores"/></li></div>

        <div><li><label for="colores"> </label>
        <input type="checkbox" id="colores"/></li></div>
       
       
        <div><li><label for="colores"> </label>
        <input type="checkbox" id="colores"/></li></div> 
    </section>
      </ul>
      <section class="desing__paletas">
        <div>paleta1</div>
        <div>paleta2</div>
        <div>paleta3</div>
      </section>
      
      </div>


        
                   


    
    
    
    


    
    

    


