<fieldset class="fill">
    <legend> <i class="fa-solid fa-keyboard fill__icon"></i> RELLENA <i class="fa-solid fa-chevron-down fill__icon--down"></i></legend>
    <div class="fill__inputs">
        <label for="name">Nombre completo</label>
        <input type="text" id="name" name="name" placeholder="Ej: Sally">

        <label for="position">Puesto</label>
        <input type="text" id="position" name="position" placeholder="Ej: Front-end-junior">

        <legend>Imagen de perfil</legend>
        <a href="">Añadir imagen</a>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Ej: Sally@gmail.com">

        <label for="phone">Teléfono</label>
        <input type="number" id="phone" name="phone" placeholder="Ej: 555-55-55-55">

        <label for="link">Linkedin</label>
        <input type="text" id="link" name="link" placeholder="Ej: linkedin.com/in/sally.hill">

        <label for="gituser">Github</label>
        <input type="text" id="gituser" name="gituser" placeholder="Ej: Sally">
    </div>
</fieldset>