
    <fieldset class="desing">
      
      
      </div>
       <legend class="text">DISEÑA <i class= "idown" fa-solid fa-chevron-down></legend >

        <i class="fa-light fa-browsers"></i>
    

      <div class="inputs">
          <legend class="tit">COLORES</legend>
    
      <ul class="colors">
        <div>
          <li><label for="colores"></label>
        <input type="checkbox" id="colores"/></li></div>

        <div><li><label for="colores"> </label>
        <input type="checkbox" id="colores"/></li></div>
       
       
        <div><li><label for="colores"> </label>
        <input type="checkbox" id="colores"/></li></div> 

      </ul>
      <section class="menu">
        <div>paleta1</div>
        <div>paleta2</div>
        <div>paleta3</div>
      </section>
      
      </div>
      </fieldset>


        
                   


    
    
    
    


    
    

    


