<hr>

<fieldset class="comparte">
    <legend class="share">
       <i class="fa-sharp fa-solid fa-share-nodes" class="icon"></i>        COMPARTE <i class="fa-solid fa-chevron-down"> </i>
    </legend>
   
    <div class="tarjet">
        <section class="enlace1">
            <a  class="enl" href="#" ><i class="fa-light fa-address-card"></i>  CREAR TARJETA</a>
                
        </section>
    </div>


    <div class="crear">
    <p>La tarjeta ha sido creada:</p>
    
    <a class="enl2"   href="https://awesome-profile-card.com?id=A456DF0001">"https://awesome-profile-card.com?id=A456DF0001</a>
    </div> 

    <a class="enl3" href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i> Compartir en Twiter</a>
        
    
    
  
    
</fieldset>