<hr>

<fieldset class="comparte collapsable">
    <legend class="share js_legend_box_share">
        <div>
       <i class="fa-sharp fa-solid fa-share-nodes"></i>      COMPARTE </div>
       <i class="fa-solid fa-chevron-down icon_down js_share_down js_array_flechas"> </i>
    </legend>
   
    <div class=" share_div js_share_div hidden">
    <div class="tarjet">
        <section class="enlace1">
            <button class="btn js_btn_share">
                <a  class="enl" href="#" ><i class="fa-regular fa-address-card"></i>  CREAR TARJETA</a>
            </button>
            
                
        </section>
     
    </div>
    


    <div class="crear js_create hidden">   
       <hr class="line">
    <p>La tarjeta ha sido creada:</p>
     
    <a class="enl2  js_cardUrl" href="#" target="_blank" ></a>

    <a class="enl3 js-twitter" href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i> Compartir en X </a>
    
    </div> 

    <div class="crear js_error hidden">   
        <hr class="line">
     <p>Hemos detectado algunos errores:</p>
     <p class="errormsg"></p>
     </div> 
 

        
</div>
<hr>
    
  
    
</fieldset>